$light-background-theme: rgb(246, 246, 246);
$light-text-color-theme: rgb(45, 45, 45);


$dark-background-theme: rgb(63, 63, 63);
$dark-text-color-theme: rgb(248, 248, 248);

$primary-color: rgb(66, 44, 129);
$secondary-color: rgb(255, 195, 14);